@media screen and (min-width: 1200px) {
  .newsletter-signup-responses {
    position: relative;
  }

  .newsletter-signup-responses .loading, .newsletter-signup-responses .success, .newsletter-signup-responses .error {
    position: absolute;
    left: 0;
    right: 0;
  }
}

.newsletter-signup-responses .loading, .newsletter-signup-responses .success, .newsletter-signup-responses .error {
  text-align: center;
  margin-bottom: 0;
}

.stacked-template .newsletter-signup-responses .loading, .stacked-template .newsletter-signup-responses .success, .stacked-template .newsletter-signup-responses .error {
  font-size: 14px;
}

.newsletter-signup-subscribe.loading {
  color: #333;
  display: inline-block;
  -webkit-mask: linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/300% 100%;
  background-repeat: no-repeat;
  animation: shimmer 1s infinite;
}

@keyframes shimmer {
  100% {
    -webkit-mask-position:left
  }
}